<h1>Your Lists</h1>

<p><%= link_to "Create list", new_list_path %></p>
<% if show_archived? %>
<p><%= link_to "active", lists_path %></p>
<% else %>
<p><%= link_to "archived", lists_path(archived: true) %></p>
<% end %>

<ul>
<% @lists.each do |list| %>
  <li>
    <p><%= link_to list.title, list_path(list) %></p>
    <% if show_archived? %>
      <p><%= link_to "delete list", list_path(list), method: "delete" %></p>
    <% end %>
  </li>
<% end %>
</ul>
