<h1>Todo List: <%= @list.title %></h1>

<p><%= link_to "edit", edit_list_path(@list) %></p>
<p><%= link_to "archive", archived_lists_path(list_id: @list), method: "post" %></p>


<p><strong>Add Task:</strong></p>
<%= form_for [@list, Task.new] do |f| %>
  <%= f.text_field "description" %>
  <%= f.date_select(:due_date, :start_year => 2015) %>
  <%= f.submit "Submit" %>
<% end %>


<h3>Tasks:</h3>
<ul>
<% @list.tasks.each do |t| %>
  <li class="task <%=t.status%>" id="task-<%=t.id%>">
    <p>
      <strong>Task: </strong>
      <span><%= t.description %></span>
      <strong>Due: </strong>
      <span><%= t.due_date.strftime("%A, %b %d") %></span>
      <strong>Status: </strong>
      <span><%= t.status %></span>
      <span><button class="complete-task" data-task-id="<%= t.id %>">Complete</button></span>
    </p>
  </li>
<% end %>
</ul>
