<h1>Todo List: <%= @list.title %></h1>

<p><%= link_to "edit", edit_list_path(@list) %></p>
<p><%= link_to "archive", archived_lists_path(list_id: @list), method: "post" %></p>


<p><strong>Add Task:</strong></p>
<%= render partial: "tasks/form", locals: {list: @list, task: Task.new} %>


<h3>Tasks:</h3>
<%= link_to "show completed tasks", "#", class: "toggle-tasks" %>
<%= link_to "show active tasks", "#", class: "toggle-tasks hidden" %>
<ul>
<% @list.tasks.each do |t| %>
  <li class="task <%= "hidden" if t.complete? %>" id="task-<%=t.id%>">
    <p>
      <strong>Task: </strong>
      <span><%= t.description %></span>
      <strong>Due: </strong>
      <span><%= t.due_date.strftime("%A, %b %d") %></span>
      <strong>Status: </strong>
      <span><%= t.status %></span>
      <span><%= link_to "edit", edit_list_task_path(@list, t) %></span>
      <span>
          <button class="toggle-task" data-task-id="<%= t.id %>">
            <%= t.incomplete? ? "Complete" : "Incomplete" %>
          </button>
      </span>
    </p>
  </li>
<% end %>
</ul>
