<%= javascript_include_tag 'lists' %>

<h1>Todo List: <%= @list.title %></h1>

<p><%= link_to "edit", edit_list_path(@list) %></p>
<p><%= link_to "archive", archived_lists_path(list_id: @list), method: "post" %></p>


<p><strong>Add Task:</strong></p>
<%= render partial: "tasks/form", locals: {list: @list, task: Task.new} %>


<h3>Tasks:</h3>
<div id="status-toggler"></div>

<p>
<strong>Sort By:</strong>
<a href="#" class="sorter" data-attribute="description">description</a>
<a href="#" class="sorter" data-attribute="due_date">due date</a>
</p>

<p>search:</p>
<form>
  <input id="search-box">
  </input>
</form>

<ul id="task-list">
<% @list.tasks.each do |t| %>
  <li class="task <%= "hidden" if t.complete? %>" id="task-<%=t.id%>">
    <p>
      <strong>Task: </strong>
      <span><%= t.description %></span>
      <strong>Due: </strong>
      <span><%= t.due_date.strftime("%A, %b %d") %></span>
      <strong>Status: </strong>
      <span><%= t.status %></span>
      <span><%= link_to "edit", edit_list_task_path(@list, t) %></span>
      <span>
          <button class="toggle-task" data-task-id="<%= t.id %>">
            <%= t.incomplete? ? "Complete" : "Incomplete" %>
          </button>
      </span>
    </p>
  </li>
<% end %>
</ul>

<div style="display: none;" id="tasks-data">
  <%= @list.tasks.to_json %>
</div>

<script style="display: none;" id="task-template" type="text/mustache">
  <li class="task" id="task-{{id}}">
    <p>
      <strong>Task: </strong>
      <span>{{description}}</span>
      <strong>Due: </strong>
      <span>{{due_date}}</span>
      <strong>Status: </strong>
      <span>{{status}}</span>
      <span><a href="/lists/{{list_id}}/tasks/{{id}}/edit">edit</a></span>
      <span>
          <button class="toggle-task" data-task-id="{{id}}">
            update
          </button>
      </span>
    </p>
  </li>
</script>

<script style="display: none;" id="status-toggle-template" type="text/mustache">
  <a href="#" class="toggle-tasks">
    {{#viewingComplete}}
      show active tasks
    {{/viewingComplete}}
    {{^viewingComplete}}
      show completed tasks
    {{/viewingComplete}}
  </a>
</script>
